NODE_ENV=development

# Frontend
FRONTEND_PORT=3000

# Backend
BACKEND_PORT=8000
DATABASE_URL=mysql+pymysql://root:admin123@db:3306/garbage_db
MODEL_PATH=/app/model/weights/mobilenet_baseline_best.keras

# MySQL
MYSQL_ROOT_PASSWORD=admin123
MYSQL_USER=admin123
MYSQL_PASSWORD=admin123
MYSQL_DATABASE=garbage_db
MYSQL_PORT=3306

# Auth
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=43200

# MinIO
MINIO_ENDPOINT=minio:9000
PUBLIC_MINIO_ENDPOINT=localhost
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123
MINIO_SECURE=False
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_USE_SSL=false
MINIO_BUCKET=garbage-images
MINIO_AVATAR_BUCKET=avatars
MINIO_REGION=us-east-1