NODE_ENV=development

# Frontend
FRONTEND_PORT=3000

# Backend
BACKEND_PORT=8000
DATABASE_URL=mysql+pymysql://root:admin123@db:3306/server_db

# MySQL
MYSQL_ROOT_PASSWORD=admin123
MYSQL_USER=admin123
MYSQL_PASSWORD=admin123
MYSQL_DATABASE=server_db
MYSQL_PORT=3306